@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@100;300;400;600;700&family=Krona+One&display=swap');
@import './styles';

html,
body {
	padding: 0;
	margin: 0;
	width: 100%;
	height: 100vh;
	font-family: 'Exo 2', -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans,
		Droid Sans, Helvetica Neue, sans-serif;
	background-color: #121212;
}

body {
	overflow: hidden;
}

a {
	text-decoration: none;
}

* {
	box-sizing: border-box;
}

.menu-link {
	text-decoration: none;
	display: inline-block;
	position: relative;
}

.menu-link:after {
	background: none repeat scroll 0 0 transparent;
	bottom: 0;
	content: '';
	display: block;
	height: 2px;
	left: 50%;
	position: absolute;
	background: #fff;
	transition: width 0.3s ease 0s, left 0.3s ease 0s;
	width: 0;
}

.menu-link.blue:after {
	background: rgba(96, 165, 250, var(--tw-text-opacity));
}

.menu-link:hover:after {
	width: 100%;
	left: 0;
}

.draw-selection {
	stroke-dasharray: 233.009765625px;
	stroke-dashoffset: 233.009765625px;
	transition: stroke-dashoffset 1s cubic-bezier(0.075, 0.82, 0.165, 1) 0s;
}

.draw-selection:hover {
	stroke-dashoffset: 0px;
	cursor: pointer;
}

.load-screen {
	mask: url('public/urban-sprite.png');
	mask-size: 3000% 100%;
}

.load-screen.hide {
	animation: ani 1.3s steps(29) forwards;
}

@keyframes ani {
	0% {
		mask-position: 0 0;
	}

	100% {
		mask-position: 100% 0;
		visibility: hidden;
	}
}
